body{
    background-color: #222831;
}

.todoList > li {
    list-style: none;
    margin-top: 12px;
    background-color: #393E46;
    padding: 15px;
    border-radius: 10px;
}

.todoList > li > .btn{
    margin-top: -5px;
}